<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill ratings</title>
    <link rel="stylesheet" href="css/ratings.css">
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
</head>

<body style="background-color:#111111;">
    <div class="navbar-container">
{{>navbar}}
    </div>
    
    <div class="container">

        {{!-- changes here --}}

        <div class="card">
            <div class="percent1" style="--clr:#ec4899; --num1:{{underhand}}">
                <div class="dot1"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>{{underhand}}</h2>
                    <p>Underhand</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="percent1" style="--clr:green; --num1:{{overhand}}">
                <div class="dot1"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>{{overhand}}</h2>
                    <p>Overhand</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="percent1" style="--clr:red; --num1:{{spiking}}">
                <div class="dot1"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>{{spiking}}</h2>
                    <p>spiking</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="percent1" style="--clr:purple; --num1:{{setting}}">
                <div class="dot1"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>{{setting}}</h2>
                    <p>setting</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="percent1" style="--clr:blue; --num1:{{digs}}">
                <div class="dot1"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>{{digs}}</h2>
                    <p>digs</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="percent1" style="--clr:yellow; --num1:{{dumps}}">
                <div class="dot1"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>{{dumps}}</h2>
                    <p>dumps</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="percent1" style="--clr:orange; --num1:{{blocks}}">
                <div class="dot1"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>{{blocks}}</h2>
                    <p>blocks</p>
                </div>
            </div>
        </div>

</body>

</html>